.center{
    text-align: center;
}

#header{
    background-color: cyan;
    border: 5px solid;

}

#navbar{
    list-style-type: none;
    margin: 50px;
    padding: 50px;
    background-color: white;
    color: red;

}