{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
<h1>
    {{name}}'s Portfolio
</h1>

<table class = "table table-striped">
    <thead>
        <tr>
            <th class="text-start">Symbol</th>
            <th class="text-start">Name</th>
            <th class="text-end">Shares</th>
            <th class="text-end">Price</th>
            <th class="text-end">TOTAL</th>
        </tr>
    </thead>
   <tbody>

    {% set order = namespace(total = 0) %}

    {% for purchase in amount %}

        {% set stockAmount = namespace(count = 0) %}

        {% for shares in amount %}

            {% if shares["stock"] == purchase["stock"] %}

                {% set stockAmount.count = shares["shares"] %}

            {% endif %}

        {% endfor %}

        {% set order.total = order.total + ((purchase["stock"] | lookup)['price'] * stockAmount.count) %}

            <tr>
                <td class="text-start">{{purchase["stock"]}}</td>
                <td class="text-start">{{purchase["stock"]}}</td>
                <td class="text-end">{{stockAmount.count}}</td>
                <td class="text-end">{{((purchase["stock"] | lookup)['price']) | usd}}</td>
                <td class="text-end">{{(((purchase["stock"] | lookup)['price']) * stockAmount.count) | usd}}</td>
            </tr>

    {% endfor %}

    </tbody>
    <tfoot>
        <tr>
            <td class="border-0 fw-bold text-end" colspan="4">Cash</td>
            <td class="border-0 text-end">{{cash | usd}}</td>
        </tr>
        <tr>
            <td class="border-0 fw-bold text-end" colspan="4">TOTAL</td>
            <td class="border-0 w-bold text-end">{{(cash + order.total) | usd}}</td>
        </tr>
    </tfoot>
</table>
{% endblock %}
