{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
    <form action="/quote" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="symbol" name="symbol" placeholder="Symbol" type="text">
        </div>
        <button class="btn btn-primary" type="submit">Quote</button>
    </form>
{% endblock %}


CREATE TABLE purchases (userID int NOT NULL, stock TEXT NOT NULL, price NUMERIC NOT NULL, shares INT NOT NULL, orderTotal NUMERIC NOT NULL, time DATETIME NOT NULL, FOREIGN KEY (userID) REFERENCES users(id));
